body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

.h1nav{
    display: flex;
    margin: 25px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1d412300;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.fotoPerfil{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    z-index: 1; /* Para que la imagen esté por encima del video */
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    z-index: 1; /* Para que la imagen esté por encima del video */
}

/* video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  El video cubre todo el div 
  z-index: -1;        Para que quede detrás del contenido 
} */

h1{
    color: rgb(168, 168, 239);
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgb(111, 148, 217);
    
}

nav{
    display: flex;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-color: #e3ad4000;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
    font-size: 25px;
}

article{
    display: flex;
    flex-direction: row; /* Apilados en vertical */
    justify-content: space-between;
    height: auto; /* 100% de la altura de la ventana */
    flex-wrap: wrap; /* Permite que los cards se envuelvan a la siguiente línea si no caben */
    background-color: #c4bceb;
    padding: 15px;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    opacity: 1; /*del 0.1 al 0.9*/
}



div{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    margin: 20px;
    flex: 1; /* Cada card ocupa el mismo espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    flex: 1; /* Cada card ocupa el mismo espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.card:active{
    transform: scale(0.95);
    transition: transform 0.1s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

a:hover{
   
    transition: transform 0.3s ease;
    background-color: #c4bceb;
    color: #3b3a3a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

a:active{
    background-color: #ddd;
    color: #000;
}
p{
    margin: 12px;
    line-height: 1.6;
}

h2{
    color: #333;
    margin: 20px;
}

.text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

.inicio{
    height: 50px;
    width: 50px;
    background-color: #7794c29a;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color  0.3s ease;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:60px;
    font-weight: bold;
    z-index: 10;
}

.inicio:hover{
    background-color: #556bb2b8;
    color: white;

}

footer{
    text-align: center;
    padding: 20px;
    background-color: #ffffff00;
    color: #9b9b9b;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 768px){
    article{
        flex-direction: column;
    }
}

@media (max-width: 768px){
    nav{
        flex-direction: column;
        height: auto;
        gap: 20px;;
    }

    .fotoPerfil{
        width: 300px;
        height: 300px;
        margin: 10px;
    }

    .h1nav{
        flex-direction: column;
        height: auto;
        gap: 20px;
}
    .mediaq{
        font-size: 20px;
    }   

    img{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    h1{
        font-size: 30px;
        margin: 10px 0;
    }

    p{
        font-size: 16px;
        margin: 10px;
    }

    .footer{
        font-size: 14px;
    }

}